<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.ntxdev.zuptecnico">

  <uses-permission android:name="android.permission.INTERNET"/>
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
  <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
  <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
  <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES"/>

  <uses-feature android:name="android.permission.CAMERA" />

  <uses-feature
      android:glEsVersion="0x00020000"
      android:required="true"/>

  <uses-sdk tools:overrideLibrary="com.appyvet.rangebar"/>

  <application
      android:name="com.ntxdev.zuptecnico.ZupApplication"
      android:allowBackup="true"
      android:icon="@mipmap/ic_launcher"
      android:label="@string/app_name"
      android:largeHeap="true"
      android:theme="@style/ZupTheme"
      >
    <meta-data
        android:name="com.google.android.gms.version"
        android:value="@integer/google_play_services_version"/>

    <activity
        android:name="com.ntxdev.zuptecnico.LoginActivity"
        android:label="@string/app_name"
        android:theme="@style/AppTheme.NoActionBar">
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>

        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>
    </activity>
    <activity
        android:name="eu.janmuller.android.simplecropimage.CropImage"
        android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"/>
    <activity
        android:name=".ForgotPasswordActivity"
        android:label="@string/title_activity_documents"
        android:theme="@style/AppTheme.NoActionBar">
    </activity>
    <activity
        android:name=".activities.cases.CasesListActivity"
        android:label="@string/title_activity_documents">
    </activity>
    <activity
        android:name=".activities.cases.CaseHistoryActivity"
        android:label="@string/title_activity_pick_map_location">
    </activity>
    <activity
        android:name="com.ntxdev.zuptecnico.activities.inventory.InventoryListActivity"
        android:label="@string/title_activity_documents">
    </activity>
    <activity
        android:name="com.ntxdev.zuptecnico.ProfileActivity"
        android:label="@string/title_activity_profile">
    </activity>
    <activity
        android:name=".activities.inventory.InventoryItemDetailsActivity"
        android:label="@string/title_activity_profile">
    </activity>
    <activity
        android:name=".activities.reports.FilterReportsActivity"
        android:label="@string/title_activity_profile">
    </activity>
    <activity
        android:name=".activities.inventory.FilterInventoryItemsActivity"
        android:label="@string/title_activity_profile">
    </activity>
    <activity
        android:name=".activities.inventory.CreateInventoryItemActivity"
        android:configChanges="orientation|keyboardHidden|screenSize"
        android:label="@string/title_activity_profile"
        android:theme="@style/AppTheme.NoActionBar"
        android:windowSoftInputMode="stateHidden">

      <intent-filter>
        <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
      </intent-filter>
    </activity>

    <meta-data
        android:name="com.google.android.maps.v2.API_KEY"
        android:value="AIzaSyDfTNtL1I0r7MLSa3wW-tYcbcTHmNl2an4"/>

    <activity
        android:name="com.ntxdev.zuptecnico.FullScreenImageActivity"
        android:label="@string/title_activity_pick_map_location"
        android:theme="@style/AppTheme.NoActionBar">
    </activity>

    <activity
        android:name=".activities.cases.CaseItemDetailsActivity"
        android:label="@string/title_activity_pick_map_location">
    </activity>

    <activity
        android:name=".activities.cases.CaseItemFormDetailsActivity"
        android:label="@string/title_activity_pick_map_location">
    </activity>

    <activity
        android:name=".activities.cases.SearchCasesActivity"
        android:label="@string/title_activity_pick_map_location">
    </activity>

    <activity
        android:name=".activities.inventory.SearchInventoryByQueryActivity"
        android:label="@string/title_activity_pick_map_location">
    </activity>

    <activity
        android:name=".activities.cases.ViewCaseStepFormActivity"
        android:configChanges="orientation|keyboardHidden|screenSize"
        android:label="@string/title_activity_pick_map_location"
        android:theme="@style/AppTheme.NoActionBar"
        android:windowSoftInputMode="stateHidden">
    </activity>

    <activity
        android:name="com.ntxdev.zuptecnico.SyncActivity"
        android:label="@string/title_activity_pick_map_location">
    </activity>

    <activity
        android:name="com.ntxdev.zuptecnico.LoadingDataActivity"
        android:label="@string/title_activity_pick_map_location"
        android:theme="@style/AppTheme.NoActionBar">
    </activity>

    <activity
        android:name=".activities.reports.ReportsListActivity"
        android:label="@string/activity_title_reports"/>
    <activity
        android:name=".activities.reports.SearchReportByProtocolActivity"
        android:label="@string/activity_title_reports"/>

    <activity
        android:name=".activities.reports.ReportItemDetailsActivity"
        android:label="@string/activity_title_report_item"/>

    <activity
        android:name=".activities.reports.CreateReportItemActivity"
        android:configChanges="orientation|keyboardHidden|screenSize"
        android:label="@string/activity_title_create_report_item"
        android:theme="@style/AppTheme.NoActionBar"
        android:windowSoftInputMode="stateHidden"/>

    <activity android:name="com.theartofdev.edmodo.cropper.CropImageActivity"/>

    <provider
      android:name="android.support.v4.content.FileProvider"
      android:authorities="br.com.lfdb.zup.provider"
      android:exported="false"
      android:grantUriPermissions="true">
        <meta-data
          android:name="android.support.FILE_PROVIDER_PATHS"
          android:resource="@xml/provider_paths"/>
    </provider>


  </application>

</manifest>
