<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.particity.zuptecnico">

  <uses-permission android:name="android.permission.INTERNET"/>
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
  <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
  <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
  <uses-permission android:name="android.permission.CAMERA"/>
  <uses-permission android:name="android.permission.GPS"/>
  <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES"/>

  <uses-feature android:name="camera" android:required="false" />
  <uses-feature android:name="gps" android:required="false" />

  <uses-feature
      android:glEsVersion="0x00020000"
      android:required="true"/>

  <uses-sdk tools:overrideLibrary="com.appyvet.rangebar"/>

  <application
      android:name="com.particity.zuptecnico.ZupApplication"
      android:allowBackup="true"
      android:icon="@mipmap/ic_launcher"
      android:label="@string/app_name"
      android:largeHeap="true"
      android:theme="@style/ZupTheme"
      >
    <meta-data
        android:name="com.google.android.gms.version"
        android:value="@integer/google_play_services_version"/>

    <activity
        android:name="com.particity.zuptecnico.LoginActivity"
        android:label="@string/app_name"
        android:theme="@style/AppTheme.NoActionBar">
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>

        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>
    </activity>
    <activity
        android:name="com.particity.zuptecnico.ForgotPasswordActivity"
        android:label="@string/title_activity_documents"
        android:theme="@style/AppTheme.NoActionBar">
    </activity>
    <activity
        android:name="com.particity.zuptecnico.activities.cases.CasesListActivity"
        android:label="@string/title_activity_documents">
    </activity>
    <activity
        android:name="com.particity.zuptecnico.activities.cases.CaseHistoryActivity"
        android:label="@string/title_activity_pick_map_location">
    </activity>
    <activity
        android:name="com.particity.zuptecnico.activities.inventory.InventoryListActivity"
        android:label="@string/title_activity_documents">
    </activity>
    <activity
        android:name="com.particity.zuptecnico.ProfileActivity"
        android:label="@string/title_activity_profile">
    </activity>
    <activity
        android:name="com.particity.zuptecnico.activities.inventory.InventoryItemDetailsActivity"
        android:label="@string/title_activity_profile">
    </activity>
    <activity
        android:name="com.particity.zuptecnico.activities.reports.FilterReportsActivity"
        android:label="@string/title_activity_profile">
    </activity>
    <activity
        android:name="com.particity.zuptecnico.activities.inventory.FilterInventoryItemsActivity"
        android:label="@string/title_activity_profile">
    </activity>
    <activity
        android:name="com.particity.zuptecnico.activities.inventory.CreateInventoryItemActivity"
        android:configChanges="orientation|keyboardHidden|screenSize"
        android:label="@string/title_activity_profile"
        android:theme="@style/AppTheme.NoActionBar"
        android:windowSoftInputMode="stateHidden">

      <intent-filter>
        <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
      </intent-filter>
    </activity>

    <meta-data
        android:name="com.google.android.maps.v2.API_KEY"
        android:value="AIzaSyD4yVDMBChSpTBsc-XqBXhyLfeZFq-M_zw"/>

    <activity
        android:name="com.particity.zuptecnico.FullScreenImageActivity"
        android:label="@string/title_activity_pick_map_location"
        android:theme="@style/AppTheme.NoActionBar">
    </activity>

    <activity
        android:name="com.particity.zuptecnico.activities.cases.CaseItemDetailsActivity"
        android:label="@string/title_activity_pick_map_location">
    </activity>

    <activity
        android:name="com.particity.zuptecnico.activities.cases.CaseItemFormDetailsActivity"
        android:label="@string/title_activity_pick_map_location">
    </activity>

    <activity
        android:name="com.particity.zuptecnico.activities.cases.SearchCasesActivity"
        android:label="@string/title_activity_pick_map_location">
    </activity>

    <activity
        android:name="com.particity.zuptecnico.activities.inventory.SearchInventoryByQueryActivity"
        android:label="@string/title_activity_pick_map_location">
    </activity>

    <activity
        android:name="com.particity.zuptecnico.activities.cases.ViewCaseStepFormActivity"
        android:configChanges="orientation|keyboardHidden|screenSize"
        android:label="@string/title_activity_pick_map_location"
        android:theme="@style/AppTheme.NoActionBar"
        android:windowSoftInputMode="stateHidden">
    </activity>

    <activity
        android:name="com.particity.zuptecnico.SyncActivity"
        android:label="@string/title_activity_pick_map_location">
    </activity>

    <activity
        android:name="com.particity.zuptecnico.LoadingDataActivity"
        android:label="@string/title_activity_pick_map_location"
        android:theme="@style/AppTheme.NoActionBar">
    </activity>

    <activity
        android:name="com.particity.zuptecnico.activities.reports.ReportsListActivity"
        android:label="@string/activity_title_reports"/>
    <activity
        android:name="com.particity.zuptecnico.activities.reports.SearchReportByProtocolActivity"
        android:label="@string/activity_title_reports"/>

    <activity
        android:name="com.particity.zuptecnico.activities.reports.ReportItemDetailsActivity"
        android:label="@string/activity_title_report_item"/>

    <activity
        android:name="com.particity.zuptecnico.activities.reports.CreateReportItemActivity"
        android:configChanges="orientation|keyboardHidden|screenSize"
        android:label="@string/activity_title_create_report_item"
        android:theme="@style/AppTheme.NoActionBar"
        android:windowSoftInputMode="stateHidden"/>

    <activity android:name="com.theartofdev.edmodo.cropper.CropImageActivity"/>



      <meta-data
            android:name="io.fabric.ApiKey"
            android:value="006930176e97a2cd66938b247c84d076712cd7c1" />
    </application>

</manifest>
